body {
  margin: 0;
  background-color: #ed494b;
  text-align: center;
  background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
  background-size: 500% 500%;
  animation: gradient 15s ease infinite;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

.main-container {
  border: solid white;
  display: inline-block;
  /* padding: 2rem 8rem 2rem 8rem; */
  width: auto;
  padding: 2rem 2rem;
}

.count {
  display: inline-block;
  font-family: sans-serif;
  font-size: 10rem;
  color: #FFFF;
  margin: 0;
}

.title {
  color: #4a1314;
  font-family: 'Roboto', sans-serif;
  font-size: 5rem;
  margin-top: 2%;
}

/* @@media only screen and (max-width: 600px) {} */

.footer {
  display: inline-block;
  text-align: center;
  margin-left: 2%;
  color: #ffff;
  font-family: sans-serif;
  text-shadow: 1px 1px 10px black;
}

.heart-img {
  width: 10%;
}

.author1 {
  /* position: absolute;
  left: 5%;
  top: 100%; */
  display: inline-block;
  color: #ffff;
  font-family: sans-serif;
  text-shadow: 1px 1px 10px black;
}

.author2 {
  /* position: absolute;
  right: 5%;
  top: 100%; */
  display: inline-block;
  color: #ffff;
  font-family: sans-serif;
  text-shadow: 1px 1px 10px black;
}

.btn {
  outline: none !important;
}

.btn-custom {
  display: inline-block;
  border-radius: 50%;
  background-color: Transparent;
  color: #FFFF;
  border: solid 10px;
  border-width: medium;
  font-size: 30px;
  height: 4rem;
  width: 4rem;
  text-align: center;
  margin: 2rem;
  outline: none;
}

.reload {
  display: none;
  border-radius: 50%;
  background-color: Transparent;
  color: #FFFF;
  border: solid 10px;
  border-width: medium;
  font-size: 20px;
  height: 3rem;
  width: 3rem;
  outline: none;
  margin: 0 auto 0 auto;
}

.reload:hover {
  color: yellow;
}

.btn1:hover {
  color: green;
}

.btn2:hover {
  color: red;
}
